<html>
  <head>


    <!--BOTON-->
    <script src="https://code.getmdl.io/1.2.0/material.min.js"></script>
    <link rel="stylesheet" href="https://code.getmdl.io/1.2.0/material.indigo-pink.min.css">
    <!-- Material Design icon font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">






     <!--cajas de texto-->
    <!-- Material Design Lite -->
    <script src="https://code.getmdl.io/1.2.0/material.min.js"></script>
    <link rel="stylesheet" href="https://code.getmdl.io/1.2.0/material.indigo-pink.min.css">
    <!-- Material Design icon font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  </head>
  <body>
    <!-- Wide card with share menu button -->
<style>
.demo-card-wide.mdl-card {
  width: 512px;
}
.mdl-shadow--2dp {
    box-shadow: 0 2px 2px 0 rgb(63,81,181),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgb(63,81,181);
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: url('https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTjI06xQVJKeKBIAYD0YRu9PNUnW3s1CwsWEpOzQS1Ogg-rMgFBtw') center / cover;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}
a {
    color: #3f51b5;
}
h4{
      color: #3f51b5;
}
.mdl-layout__header {
    color: #3f51b5;
}
.mdl-layout__header-row .mdl-navigation__link {
    color: #3f51b5;
}

</style>
    
<br>
<br>
<!--formulario LOGUEO-->
<center>
<div class="demo-card-wide mdl-card mdl-shadow--2dp">
<center>  <!-- username -->
<div class="demo-card-wide mdl-card mdl-shadow--2dp">
<center>  <!-- username -->
<div class="mdl-card__actions mdl-card--border">
<br>
    <h4> 
      MARKUP
    </h4>

  </div>
    <br>
      <br>
    <form action="#">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      
        <input class="mdl-textfield__input" type="text" id="sample3">
        <label class="mdl-textfield__label" for="sample3">Empresa</label>
      </div>
    </form>
    <br>
    <!-- Password -->
    <form action="#">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      
        <input class="mdl-textfield__input" type="text" id="sample3">
        <label class="mdl-textfield__label" for="sample3">Empresa Correo</label>
      </div>
    </form>

    <br>
    <br>
    <form action="#">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      
       <button id="gesbtn" class="mdl-button mdl-js-button mdl-js-ripple-effect">
        <i class="material-icons" role="presentation">arrow_drop_down</i>
        <span class="visuallyhidden">Accounts</span>
        Gestionar Marca
        </button>
        <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="gesbtn">
          <li class="mdl-menu__item" ><a href="editarMarca.html">Editar Marca</a></li>
          <li class="mdl-menu__item"><a href="htt">Dividir Marca</a></li>
          <li class="mdl-menu__item"><a href="anadirMarca.html">Añadir Marca</a></li>
        </ul>
      </div>
    </form>

    <br>
    <br>
    <form action="#">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      
        <input class="mdl-textfield__input" type="text" id="sample3">
        <label class="mdl-textfield__label" for="sample3">Delegado Nombre</label>
      </div>
    </form>
    <br>
    <br>
    <form action="#">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      
        <input class="mdl-textfield__input" type="text" id="sample3">
        <label class="mdl-textfield__label" for="sample3">Delegado Correo</label>
      </div>
    </form>
    <br>
    <br>
    <form action="#">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      
        <input class="mdl-textfield__input" type="text" id="sample3">
        <label class="mdl-textfield__label" for="sample3">Usuario</label>
      </div>
    </form>
    <br>
    <br>
    <form action="#">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      
        <input class="mdl-textfield__input" type="password" id="sample3">
        <label class="mdl-textfield__label" for="sample3">Password</label>
      </div>
    </form>
    <br>
    <br>
    <form action="#">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      
        <input class="mdl-textfield__input" type="text" id="sample3">
        <label class="mdl-textfield__label" for="sample3">Suscripcion</label>
      </div>
    </form>
    <br>
    <br>
    <form action="#">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      
        <input class="mdl-textfield__input" type="text" id="sample3">
        <label class="mdl-textfield__label" for="sample3">Codigo de registro</label>
      </div>
    </form>
    
<br>
<br>
<select name="OS">
   <option value="1">Windows Vista</option> 
   <option value="2">Windows 7</option> 
   <option value="3">Windows XP</option>
   <option value="10">Fedora</option> 
   <option value="11">Debian</option> 
   <option value="12">Suse</option> 
</select>
</form>
<br>
<br>
<select name="OS">
   <option value="1">Windows Vista</option> 
   <option value="2">Windows 7</option> 
   <option value="3">Windows XP</option>
   <option value="10">Fedora</option> 
   <option value="11">Debian</option> 
   <option value="12">Suse</option> 
</select>
<br>
<br>

  <div class="mdl-card__actions mdl-card--border">
    <a href="marca/Marca.html" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="crearUsuario.html">
      Finalizar
    </a>
  </div>
  </center>

</div>
</center>





  </body>
</html>