<html>
  <head>


    <!--BOTON-->
    <script src="https://code.getmdl.io/1.2.0/material.min.js"></script>
    <link rel="stylesheet" href="https://code.getmdl.io/1.2.0/material.indigo-pink.min.css">
    <!-- Material Design icon font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">


     <!--BOTON-->
    <script src="https://code.getmdl.io/1.2.0/material.min.js"></script>
    <link rel="stylesheet" href="https://code.getmdl.io/1.2.0/material.indigo-pink.min.css">
    <!-- Material Design icon font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">




     <!--cajas de texto-->
    <!-- Material Design Lite -->
    <script src="https://code.getmdl.io/1.2.0/material.min.js"></script>
    <link rel="stylesheet" href="https://code.getmdl.io/1.2.0/material.indigo-pink.min.css">
    <!-- Material Design icon font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  </head>
  <body background="marca/images/fondo.jpg" style="background-repeat: no-repeat; background-position: center center;">
  <center>
  <br>
  <br>
     <img src="marca/images/LOGO1.png" style="width: 400;">
     <br>
     <a href="Login2.html">
     <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" style="background-color: #9fc552;">
    Button
    </button>
    </a>
  </center>
 


  </body>
</html>