<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title> Contacto y Ayuda </title>

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.2.0/material.cyan-light_blue.min.css">
    
   <link rel="stylesheet" href="styles.css">
   
    <script src="https://code.getmdl.io/1.2.0/material.min.js"></script>

</head>

<body>
  
<div class="demo-layout-transparent mdl-layout mdl-js-layout">

  
  
  <main class="mdl-layout__content">
    
    <div class="mdl-typography--text-center">

      <div class="android-font android-create-character">
          <a href=""><img src="marca.jpg" width="200" height="200"> </a>

      </div>  

      <div class="android-font android-create-character">
          
          <b>Espacio Para video</b>

      </div> 

      <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet">
          <form action="#">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                
                <label class="mdl-textfield__label" for="nomemp">Grafico</label>
            </div>
          </form>
          </div>
          <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet">

          <form action="#">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                
            <label class="mdl-textfield__label" for="comen">Titulo</label>
            </div>
          </form>
            
          <div>
              <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
              Click
            </button>
          </div>
         </div>
       </div>  
     </div>  
  </div> 
  </main>
</body>
</html>
