<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description"
	content="A front-end template that helps you build fast, modern mobile web apps.">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
<title>Listado de marcas</title>

<!-- Add to homescreen for Chrome on Android -->
<meta name="mobile-web-app-capable" content="yes">
<link rel="icon" sizes="192x192" href="images/android-desktop.png">

<!-- Add to homescreen for Safari on iOS -->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="Material Design Lite">
<link rel="apple-touch-icon-precomposed" href="images/ios-desktop.png">

<!-- Tile icon for Win8 (144x144 + tile color) -->
<meta name="msapplication-TileImage"
	content="images/touch/ms-touch-icon-144x144-precomposed.png">
<meta name="msapplication-TileColor" content="#3372DF">

<link rel="shortcut icon" href="images/favicon.png">

<!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
<!--
    <link rel="canonical" href="http://www.example.com/">
    -->

<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet"
	href="https://code.getmdl.io/1.2.0/material.cyan-light_blue.min.css">
<link rel="stylesheet"
	href="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.indigo-pink.min.css">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet"
	href="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.indigo-pink.min.css">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/icon?family=Material+Icons">

<link rel="stylesheet" href="styles.css">
<style>
#view-source {
	position: fixed;
	display: block;
	right: 0;
	bottom: 0;
	margin-right: 40px;
	margin-bottom: 40px;
	z-index: 900;
}
</style>
</head>
<body>
		<div class="mdl-grid demo-content">
			<div
				class="demo-charts mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
				<svg fill="currentColor" width="200px" height="200px"
					viewBox="0 0 1 1"
					class="demo-chart mdl-cell mdl-cell--4-col mdl-cell--3-col-desktop">
              <use xlink:href="#piechart" mask="url(#piemask)" />
              <text x="0.5" y="0.5" font-family="Roboto" font-size="0.3"
						fill="#888" text-anchor="middle" dy="0.1">MarkUP<tspan
						font-size="0.2" dy="-0.07"></tspan></text>
            </svg>
				<svg fill="currentColor" width="200px" height="200px"
					viewBox="0 0 1 1"
					class="demo-chart mdl-cell mdl-cell--4-col mdl-cell--3-col-desktop">
              <text x="0.5" y="0.5" font-family="Roboto" font-size="0.1"
						fill="#888" text-anchor="low" dy="0.1">Logo Marca<tspan
						dy="-0.07" font-size="0.2"></tspan></text>
			  </svg>
			</div>
<style>
.container {
	position: relative;
	width: 260px;
}
.background {
	background: white;
	height: 148px;
	width: 100%;
}
.bar {
	box-sizing: border-box;
	background: #BBBBBB;
	color: white;
	width: 100%;
	height: 64px;
	padding: 16px;
}
.wrapper {
	box-sizing: border-box;
	position: absolute;
	right: 16px;
}
</style>
			<table>
				<!--<tr><td>Nombre Marca</td><td>Categoria</td><td>Descripsion</td><td>#</td></tr>-->
				<tr>
					<td>
					<td>
						<div class="container mdl-shadow--2dp">
							<div class="bar">
								<button id="demo_menu-lower-left"
									class="mdl-button mdl-js-button mdl-button--icon"
									data-upgraded=",MaterialButton">
									<i class="material-icons">more_vert</i>
								</button>
								<ul
									class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect"
									for="demo_menu-lower-left">
									<li class="mdl-menu__item">Item #1</li>
									<li class="mdl-menu__item">Item #2</li>
									<li disabled class="mdl-menu__item">Disabled Item</li>
								</ul>
							</div>
							<div class="background"></div>
						</div>
					</td>
					<div class="container mdl-shadow--2dp">
						<div class="bar">
							<div class="wrapper">
								<button id="demo_menu-lower-right"
									class="mdl-button mdl-js-button mdl-button--icon"
									data-upgraded=",MaterialButton">
									<i class="material-icons">more_vert</i>
								</button>
								<ul
									class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
									for="demo_menu-lower-right">
									<li class="mdl-menu__item">caja #1</li>
									<li class="mdl-menu__item">Item #2</li>
									<li disabled class="mdl-menu__item">Disabled Item</li>
								</ul>
							</div>
						</div>
						<div class="background"></div>
					</div>
					<td>
						<div class="container mdl-shadow--2dp">
							<div class="bar">
								<button id="demo_menu-top-left"
									class="mdl-button mdl-js-button mdl-button--icon"
									data-upgraded=",MaterialButton">
									<i class="material-icons">more_vert</i>
								</button>
								<ul
									class="mdl-menu mdl-menu--top-left mdl-js-menu mdl-js-ripple-effect"
									for="demo_menu-top-left">
									<li class="mdl-menu__item">Item #1</li>
									<li class="mdl-menu__item">Item #2</li>
									<li disabled class="mdl-menu__item">Disabled Item</li>
								</ul>
							</div>
							<div class="background"></div>
						</div>
					</td>
					<td>
						<div class="container mdl-shadow--2dp">
							<div class="bar">
								<div class="wrapper">
									<button id="demo_menu-top-right"
										class="mdl-button mdl-js-button mdl-button--icon"
										data-upgraded=",MaterialButton">
										<i class="material-icons">more_vert</i>
									</button>
									<ul
										class="mdl-menu mdl-menu--top-right mdl-js-menu mdl-js-ripple-effect"
										for="demo_menu-top-right">
										<li class="mdl-menu__item">Item #1</li>
										<li class="mdl-menu__item">Item #2</li>
										<li disabled class="mdl-menu__item">Disabled Item</li>
									</ul>
								</div>
							</div>
							<div class="background"></div>
						</div>
					</td>
				</tr>
			</table>
		</div>
		</main>
	</div>


	<script src="https://code.getmdl.io/1.2.0/material.min.js"></script>
	<script
		src="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.min.js"></script>
	<script
		src="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.min.js"></script>
</body>
</html>
