<html>
  <head>


    <!--BOTON-->
    <script src="https://code.getmdl.io/1.2.0/material.min.js"></script>
    <link rel="stylesheet" href="https://code.getmdl.io/1.2.0/material.indigo-pink.min.css">
    <!-- Material Design icon font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">


     <!--BOTON-->
    <script src="https://code.getmdl.io/1.2.0/material.min.js"></script>
    <link rel="stylesheet" href="https://code.getmdl.io/1.2.0/material.indigo-pink.min.css">
    <!-- Material Design icon font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">




     <!--cajas de texto-->
    <!-- Material Design Lite -->
    <script src="https://code.getmdl.io/1.2.0/material.min.js"></script>
    <link rel="stylesheet" href="https://code.getmdl.io/1.2.0/material.indigo-pink.min.css">
    <!-- Material Design icon font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  </head>
  <body>
    <!-- Wide card with share menu button -->
<style>
.demo-card-wide.mdl-card {
  width: 512px;
}
.mdl-shadow--2dp {
    box-shadow: 0 2px 2px 0 rgb(63,81,181),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgb(63,81,181);
}
.demo-card-wide > .mdl-card__title {
  color: #f2f2f8;
  height: 176px;
  background: url('https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTjI06xQVJKeKBIAYD0YRu9PNUnW3s1CwsWEpOzQS1Ogg-rMgFBtw') center / cover;
}
.demo-card-wide > .mdl-card__menu {
  color: #f2f2f8;
}
a {
    color: #3f51b5;
}
h4{
	    color: #3f51b5;
}
.mdl-layout__header-row .mdl-navigation__link {
    color: #3f51b5;
}
.mdl-layout__header {
    color: #3f51b5;
}
</style>

<!--formulario Registro-->
<div class="mdl-card__actions mdl-card--border"> <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Volver </a> </div>
<center>
<div class="demo-card-wide mdl-card mdl-shadow--2dp">

<center>  
<div class="mdl-card__actions mdl-card--border">
<br>
    <h4> 
      REGISTRO - MARKUP<br>
    </h4>
    </div>
    <form action="#">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" id="sample4">
        <label class="mdl-textfield__label" for="sample4">Empresa</label>
        <span class="mdl-textfield__error">Input is not a number!</span>
      </div>
    </form>
    <form action="#">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input name="password"  class="mdl-textfield__input"  id="password">
        <label class="mdl-textfield__label" for="password">Empresa correo</label>
        <span class="mdl-textfield__error">Input is not a number!</span> </div>
    </form>
    <form action="#">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input name="password2" class="mdl-textfield__input"  id="password2">
        <label class="mdl-textfield__label" for="password2">Delegado cargo</label>
        <span class="mdl-textfield__error">Input is not a number!</span> </div>
    </form>
    <form action="#">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input name="password3" class="mdl-textfield__input"  id="password3">
        <label class="mdl-textfield__label" for="password3">Delegado nombre</label>
        <span class="mdl-textfield__error">Input is not a number!</span> </div>
    </form>
    <form action="#">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input name="password4" class="mdl-textfield__input"  id="password4">
        <label class="mdl-textfield__label" for="password4">Delegado correo</label>
        <span class="mdl-textfield__error">Input is not a number!</span> </div>
    </form>
    <form action="#">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input name="password5" class="mdl-textfield__input"  id="password5">
        <label class="mdl-textfield__label" for="password5">Usuario</label>
        <span class="mdl-textfield__error">Input is not a number!</span> </div>
    </form>
    <form action="#">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input name="password52" class="mdl-textfield__input"  id="password52">
        <label class="mdl-textfield__label" for="password52">Contraseña</label>
        <span class="mdl-textfield__error">Input is not a number!</span> </div>
    </form>
    <form action="#">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input name="password53" class="mdl-textfield__input"  id="password53">
        <label class="mdl-textfield__label" for="password53">Código de registro</label>
        <span class="mdl-textfield__error">Input is not a number!</span> </div>
    </form>
    <select name="Suscripcion">
      <option value="1">Suscripción 1</option>
      <option value="2">Suscripción 2</option>
      <option value="3">Suscripción 3</option>
    </select>
</center>
<br>
<div class="mdl-card__actions mdl-card--border">
  <p><br>
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
    Registrarse</a></p>
  <p>
    </center>
  </p>
  <p><br>
    <br>
</p>
</div>
</div>
</center>







  </body>
</html>